.text-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limita a 2 linhas */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; /* Adiciona reticências no final */
  white-space: normal; /* Permite que o texto quebre em múltiplas linhas */
  }