.description-clamp {
   display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  max-width: 200px;
}
.table-cell {
  height: auto; 
  min-height: 3rem;
  max-width: 200px;
  text-overflow: ellipsis;
}
.text-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; 
  overflow: hidden;
  text-overflow: ellipsis;
}